<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>老程来聊天</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0,user-scalable=no,viewport-fit=cover" />
    <script type="text/javascript">
    (function(e, t) {
        var i = document,
            n = window;
        var l = i.documentElement;
        var a, r;
        var d, s = document.createElement("style");
        var o;

        function m() {
            var i = l.getBoundingClientRect().width;
            if (!t) { t = 540 }
            if (i > t) { i = t }
            var n = i * 100 / e;
            s.innerHTML = "html{font-size:" + n + "px;}"
        }
        a = i.querySelector('meta[name="viewport"]');
        r = "width=device-width,initial-scale=1,maximum-scale=1.0,user-scalable=no,viewport-fit=cover";
        if (a) { a.setAttribute("content", r) } else {
            a = i.createElement("meta");
            a.setAttribute("name", "viewport");
            a.setAttribute("content", r);
            if (l.firstElementChild) { l.firstElementChild.appendChild(a) } else {
                var c = i.createElement("div");
                c.appendChild(a);
                i.write(c.innerHTML);
                c = null
            }
        }
        m();
        if (l.firstElementChild) { l.firstElementChild.appendChild(s) } else {
            var c = i.createElement("div");
            c.appendChild(s);
            i.write(c.innerHTML);
            c = null
        }
        n.addEventListener("resize", function() {
            clearTimeout(o);
            o = setTimeout(m, 300)
        }, false);
        n.addEventListener("pageshow", function(e) {
            if (e.persisted) {
                clearTimeout(o);
                o = setTimeout(m, 300)
            }
        }, false);
        if (i.readyState === "complete") { i.body.style.fontSize = "16px" } else { i.addEventListener("DOMContentLoaded", function(e) { i.body.style.fontSize = "16px" }, false) }
    })(750, 750);
    </script>
    <link rel="stylesheet" type="text/css" href="css/client.css">
</head>

<body>
    <div id="app" class="app">
        <div class="chat" v-cloak>
            <!-- <div class="chat_hd">老程来聊天</div> -->
            <div class="chat_bd">
            	<div id="JmessageBox" class="messageBox">
	                <div class="m-message">
	                    <ul>
	                        <li v-for="item in msgList">
	                            <p class="time"><span>{{item.chatdate}}</span></p>
	                            <div :class="{main:item.username!=username,self:item.username==username}"><img :title="item.username"class="avatar" width="30" height="30" :src="item.username==username ? 'images/e1.png':'images/e2.png'">
	                                <div class="text">{{item.msg}}</div>
	                            </div>
	                        </li>
	                       
	                    </ul>
	                </div>
                </div>
            </div>
            <div class="chat_ft">
                <div class="sendArea">
                    <!--  <div class="row">
		                <input type="text" v-model="username" />
		            </div> -->
                    <textarea contenteditable="true" :style="msgBoxHeight" v-model="msg" class="textarea-msg" @input="input"></textarea>
                    <div @click="send" class="btn-send" :class="{disabled:(!username || !msg)}">发送</div>
                </div>
            </div>
        </div>

        <div class="loginBox" v-if="!isLogin">
			<div class="loginBox-inner">
	        	<div class="login"  v-cloak>
	        		<input type="text" class="input-login" maxlength="5" v-model="username" placeholder="请输入昵称" />
	        		<p class="loginError" v-if="loginError">已占用,换一个试试</p>

	        		<div class="btn-login" @click="login" :class="{disabled:!username}">确定</div>

	        	</div>
	        </div>

        </div>
    </div>
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/vue.min.js"></script>
    <script type="text/javascript" src="js/client.js"></script>
</body>

</html>